*{
    margin: 0;
    padding: 0;
}
.navbar-container{
    width: 100vw;
    display: flex;
    height: 100px;
    background-color: lightsalmon;
}
.nabar ul{
    display: flex;
}
.navbar nav ul li{
    display: inline;
    list-style: none;
}
.navbar nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 10px;
    align-items: center;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.main h4{
    margin: 0 auto;
    padding-top: 200px;
}
.sidebar{
    display: inline;
    float: left;
    padding-top: 50px;
    padding-left: 20px;
}
.sidebar aside ul li{
    list-style: none;
    line-height: 30px;
}
.sidebar aside ul li a{
    text-decoration: none;
    color: #000;
}
.sidebar aside ul li a:hover{
    cursor: pointer;
    box-shadow: 1px 1px  1px 1px #000;
}
.add-item{
    margin:  0 auto;
}
.add-item form input{
    width: 300px;
    height: 40px;
}
.add-item form select{
    width: 300px;
    height: 40px;
    text-align: center;
}
.edit-item{
    padding-top: 20px;
    margin: 0 auto;
}
.edit-item table{
    width: 90vw;
    height: fit-content;
    text-align: center;
}
.edit-item table tbody form{
    margin-top: 10px;
    margin-bottom: 10px;
}
.items-listing{
    padding-top: 40px;
    margin: 0 auto;
    width: 80vw;
}
.footer-container{
    display: flex;
    width: 100vw;
    height: 10vh;
}
footer ul li{
    margin: 0 auto;
}
.items-listing{
    margin: 0 auto;
}
.items-listing table{
    width: 80vw;
    height: fit-content;
}
.report-box{
    display: flex;
    width: 40vw;
    height: 20vw;
    margin: 0 auto;
    margin-top: 20px;
    background-color: darkcyan;
    border-radius: 20px;
}
.counter{
    padding-top: 20px;
    padding-left: 5px;
    color: #fff;
}